# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# extras
out
wrffdda*
wrfinput*
wrfrst*
wrfout*
wrfbdy*
rsl.*
mpi_job.*
*.nc
freezeH2O.dat
.vscode/*
.DS_store